FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=임의로 생성 # 예시: dev-secret-key-1234567

# MariaDB
DB_HOST=localhost
DB_NAME=truthlens
DB_USER=root
DB_PASSWORD=비밀번호 입력
DB_PORT=3306

# Redis (FR-05 캐싱)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# 업로드 (영상 최대 500MB)
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=524288000
